<div class="index gws-chat-posts">
  <%= render file: '_list_head' %>

  <div class="posts" style="height: 300px;">
    <% if @items.respond_to?(:last_page?) && !@items.last_page? %>
    <div class="more">
      <a href="<%= url_for(action: :index, page: @items.next_page) %>" class="btn btn-more" data-page="<%= @items.next_page %>">もっと見る</a>
    </div>
    <% end %>

    <% @items.to_a.sort_by { |item| item.created }.each do |item| %>
    <div id="post-<%= item.id %>" class="post <%= item.user == @cur_user ? 'mines' : 'theirs' %>" data-item-id="<%= item.id %>">
      <div class="row">
        <div class="aside">
          <%= image_tag(avatar_gws_user_path(id: item.user), alt: "#{item.user.name}のアバター", title: "#{item.user.name}のアバター") %>
        </div>
        <div class="main">
          <div class="header">
            <span class="user"><%= item.user.long_name %></span>
            <span class="time"><%= item.updated.strftime('%Y/%m/%d %H:%M') %></span>
          </div>
          <div class="body">
            <% if item.file.present? %>
              <a href="<%= item.file.url %>" target="_blank">
                <% if item.file.image? %>
                  <img src="<%= item.file.thumb.url %>" alt="<%= item.file.name %>" />
                <% else %>
                  <i class="material-icons md-15">&#xE2C4;</i>
                  <span class="ext icon-<%= item.file.extname %>"><%= item.file.name %></span>
                <% end %>
              </a>
            <% end %>
            <%= br item.text %>
          </div>
        </div>
      </div>
      <div class="row">
        <span>
          <button type="button" name="edit"><i class="material-icons md-13">&#xE254;</i></button>
          <button type="button" name="delete"><i class="material-icons md-13">&#xE872;</i></button>
        </span>
      </div>
    </div>
    <% end %>
  </div>

  <%= render 'post_form' %>

  <script type="text/html" id="post-template">
    <div id="post-:item_id" class="post template" data-item-id=":item_id">
      <div class="row">
        <div class="aside">
          <img alt=":user_nameのアバター" title=":user_nameのアバター" src=":avatar_url">
        </div>
        <div class="main">
          <div class="header">
            <span class="user">:user_long_name</span>
            <span class="time">:item_updated</span>
          </div>
          <div class="body"></div>
        </div>
      </div>
      <div class="row">
          <span>
            <button type="button" name="edit"><i class="material-icons md-13">&#xE254;</i></button>
            <button type="button" name="delete"><i class="material-icons md-13">&#xE872;</i></button>
          </span>
      </div>
    </div>
  </script>
</div>

<%= jquery do %>
  var post = new Gws_Chat_Post('.gws-chat-posts', {
    userId: <%== @cur_user.id.to_json %>,
    indexUrl: <%== url_for(action: :index).to_json %>,
    checkUpdatesUrl: <%== url_for(action: :check_updates).to_json %>,
    createUrl: <%== url_for(action: :create).to_json %>,
    editUrl: <%== url_for(action: :edit, id: ':item_id').to_json %>,
    deleteUrl: <%== url_for(action: :delete, id: ':item_id').to_json %>,
    version: <%== @cur_room.version.to_json %>
  });
  post.render();
<% end %>
