<% menus = capture do %>
  <% if Gws::Schedule::Plan.allowed?(:use, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/schedule.tabs.personal'), gws_schedule_plans_path %></h3>
  <% end %>

  <% if false %>
  <% if Gws::Schedule::Plan.allowed?(:use, @cur_user, site: @cur_site) %>
    <% @cur_user.schedule_tabs_visible_groups(@cur_site).each do |group| %>
      <h3><%= link_to group.trailing_name, gws_schedule_group_plans_path(group: group.id), class: "group" %></h3>
    <% end %>
    <% @cur_user.schedule_tabs_visible_custom_groups(@cur_site).each do |g| %>
      <h3><%= link_to g.name, gws_schedule_custom_group_plans_path(group: g.id), class: "custom-group" %></h3>
    <% end %>
    <h3><%= link_to t('gws/schedule.tabs.group'), gws_schedule_all_groups_path, class: "group-all" %></h3>
  <% end %>
  <% end %>

  <% if @cur_user.gws_role_permit_any?(@cur_site, :use_private_gws_facility_plans) %>
    <h3><%= link_to t('gws/schedule.tabs.facility'), gws_schedule_facilities_path %></h3>
  <% end %>
  <% if Gws::Schedule::Plan.allowed?(:use, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/schedule.tabs.search'), gws_schedule_search_path %></h3>
    <h3><%= link_to t('ss.links.import'), gws_schedule_csv_path %></h3>
  <% end %>
  <% if Gws::Schedule::Remote::Account.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/schedule.navi.remote_account'), gws_schedule_remote_accounts_path %></h3>
  <% end %>
  <% if Gws::Schedule::Plan.allowed?(:trash, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('ss.links.trash'), gws_schedule_trashes_path, class: 'trash' %></h3>
  <% end %>

  <% if Gws::Schedule::Holiday.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/schedule.navi.holiday'), gws_schedule_holidays_path, class: "management" %></h3>
  <% end %>
  <% if Gws::Schedule::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/schedule.navi.category'), gws_schedule_categories_path, class: "management" %></h3>
  <% end %>

  <% if Gws::Facility::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/facility.navi.category'), gws_facility_categories_path, class: "management" %></h3>
  <% end %>
  <% if Gws::Facility::Item.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/facility.navi.item'), gws_facility_items_path, class: "management" %></h3>
    <h3><%= link_to t('gws/facility.navi.usage'), gws_facility_usage_main_path, class: "management" %></h3>
    <h3><%= link_to t('gws/facility.navi.state'), gws_facility_state_main_path, class: "management" %></h3>
  <% end %>
<% end %>

<% if menus.present? %>
  <nav class="mod-navi current-navi">
    <h2><%= link_to @cur_site.menu_schedule_label || t('modules.gws/schedule'), gws_schedule_main_path, class: "navi-icon icon-schedule" %></h2>
    <%= menus %>
  </nav>

  <% calenders = Gws::Schedule::Remote::Calendar.site(@cur_site).member(@cur_user) %>
  <% if calenders.present? %>
    <% accounts = Gws::Schedule::Remote::Account.site(@cur_site).in(id: calenders.pluck(:account_id).uniq) %>
    <% calenders = calenders.to_a %>
    <nav class="mod-navi">
    <% accounts.each do |account| %>
      <h2><%= account.name %></h2>
      <% calenders.each do |calendar| %>
        <% next if calendar.account_id != account.id %>
        <h3 style="position: relative;">
          <span>
            <%= calendar.name %>
          </span>
          <span class="gws-remote-schedule-calendar-sync" data-href="<%= sync_gws_schedule_remote_account_calendar_path(account_id: account, id: calendar) %>" style="position: absolute; top: 0; right: 5px;">
            <button>
              <i class="material-icons md-dark"></i>
            </button>
          </span>
        </h3>
      <% end %>
    <% end %>
    </nav>
    <%= jquery do %>
      Gws_Schedule_Remote_Calendar_Sync.confirmations.sync = <%== t("ss.confirm.sync").to_json %>;
      Gws_Schedule_Remote_Calendar_Sync.confirmations.reload = <%== t("gws/schedule.confirm.sync_completed_and_reload").to_json %>;
      Gws_Schedule_Remote_Calendar_Sync.jobStatusPath = <%== status_gws_job_apis_task_path(id: ":ID").to_json %>;
      Gws_Schedule_Remote_Calendar_Sync.render();
    <% end %>
  <% end %>
<% end %>

<%= render partial: 'gws/main/navi' %>
