<% value ||= nil %>
<% disabled ||= false %>
<% file = value.try(:file) %>
<%
  form_options = column.form_options
  form_options['class'] = [ form_options['class'].presence ].flatten.compact
  form_options['class'] << 'file-id'
%>
<%= render "cms/columns/column_entry_form_layout", f: f, column: column, value: value, disabled: disabled do %>
  <div class="input-group file-upload-column">
    <%= link_to(t('ss.links.upload'), cms_apis_temp_files_path, class: %w(ajax-box btn btn-file-upload), data: { column_id: column.id.to_s }) %>
    <span class="humanized-name column-<%= column.id %>"><%= file.try(:humanized_name) %></span>
    <%= hidden_field_tag("#{f.object_name}[][value]", file.try(:id), form_options) %>
    <%= link_to('#', class: 'btn-file-delete', style: file ? '' : 'display: none') do %>
      <i class="material-icons" style="font-size: 120%;">&#xE872;</i>
    <% end %>
  </div>
<% end %>
