<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<%= jquery do %>
  new Cms_ParentCrumb("#addon-cms-agents-addons-parent_crumb", { confirm: <%== I18n.t("ss.confirm.delete").to_json %> });
<% end %>

<% render_crumb_url = proc do |url| %>
  <div class="parent-crumb">
    <div class="input-group parent-crumb-url">
      <%= text_field_tag "item[parent_crumb_urls][]", url, class: :parent_crumb_urls %>
      <%= button_tag t("ss.buttons.delete"), {type: :button, class: "parent-crumb-delete btn"} %>
    </div>
    <div class="parent-crumb-category">
      <%= select_tag('parent-crumb-category', options_for_select([]), { id: nil, include_blank: t('cms.options.parent_crumb.blank') }) %>
    </div>
  </div>
<% end %>

<%= f.ss_field_set :parent_crumb_urls, tt: true do %>
  <div class="parent-crumbs">
    <% if @item.parent_crumb_urls.present? %>
      <% @item.parent_crumb_urls.each do |url| %>
        <% render_crumb_url.call(url) %>
      <% end %>
    <% else %>
      <% render_crumb_url.call("") %>
    <% end %>
  </div>

  <div class="parent-crumb-btns"><%= button_tag t("cms.buttons.add_crumb"), { type: :button, class: "parent-crumb-add btn" } %></div>

  <script id="parent-crumb-template" type="text/html">
    <% render_crumb_url.call("#url") %>
  </script>
<% end %>
