<% addons = @addons || @item.try(:addons) || [] %>
<% addons = addons.select { |addon| [ Cms::Addon::Meta, Entry::Addon::Form ].include?(addon.klass) } %>

<%= form_for :item, url: { action: :update }, html: { id: "ss-preview-inplace-item-form", class: "ss-preview-hide", method: :put, multipart: true, autocomplete: :off } do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-head"><h2><%= @addon_basic_name || t("ss.basic_info") %></h2></div>
      <div class="addon-body">
        <%= render partial: 'form', locals: { f: f } %>
      </div>
    </div>

    <%= render file: "ss/crud/_addons_form", locals: { f: f, addons: addons } if addons.size > 0 %>
  </div>

  <footer>
    <input type="submit" name="commit" value="下書き保存" class="btn-primary save" data-close-confirmation="public">
    <input type="submit" name="publish_save" value="公開保存" class="publish_save">
    <button name="button" type="reset" class="btn-default">キャンセル</button>
  </footer>
<% end %>
