<dl class="see">
  <dt><%= @model.t :calendar_model %></dt>
  <dd><%= @item.label :calendar_model %></dd>

  <dt><%= @model.t :name %></dt>
  <dd><%= @item.name %></dd>

  <dt><%= @model.t :description %></dt>
  <dd><%= @item.description %></dd>

  <% if @item.color.present? %>
    <dt><%= @model.t :color %></dt>
    <dd><span class="gws-category-label" style="<%= category_label_css(@item) %>"><%= @item.name %></span></dd>
  <% end %>
</dl>
