<%= javascript_include_tag("ss/script.js") %>

<% if notice %>
  <div><%= notice %></div>
<% end %>

<dl>
  <dt>Name</dt>
  <dd><%= @item.name %></dd>

  <dt>Email</dt>
  <dd><%= @item.email %></dd>
</dl>

<%= link_to("Edit", action: :edit) %> | <%= link_to("Delete", { action: :destroy }, { method: :delete, data: { confirm: "本当に削除しますか？" } }) %> | <%= link_to("Back", action: :index) %>
