<dl class="see">
  <% if params[:action] =~ /new|create/ %>
    <dt><%= @model.t :in_files %><%= @model.tt :in_files %></dt>

    <dd>
      <p>次の一覧からファイルを選択してください。</p>
      <div>
      <% SS::TempFile.allow(:read, @cur_user).order_by(filename: 1).each do |file| %>
        <label for="item_in_files_<%= file.id %>" class="file" style="display: inline-block; width: 360px; border: 1px solid gray; margin: 4px; padding: 4px; border-radius: 3px" data-id="<%= file.id %>">
            <span style="display: table-cell; padding: 0 8px; height: 60px; vertical-align: middle; text-align: center">
              <%= radio_button_tag('item[in_files]', file.id, false) %>
            </span>
            <span class="icon" style="display: table-cell; width: 60px; height: 60px; vertical-align: middle; text-align: center">
              <% if file.image? %>
              <%= image_tag(file.thumb_url, alt: file.basename, style: "display: inline; margin: 0; padding: 0; max-width: 56px; max-height: 56px;") %>
              <% else %>
              <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
              <% end %>
            </span>
            <span class="info" style="display: table-cell; vertical-align: middle; padding: 0 4px;">
              <%= file.humanized_name %>
            </span>
        </label>
      <% end %>
      </div>
    </dd>
    <dd>
      <div class="dropzone">新しいファイルを追加するにはここにファイルをドロップするか、クリックしてファイルを選択してください。</div>
      <%= f.file_field :in_files, multiple: :multiple, style: 'display: none' %>
    </dd>

  <% else %>
    <dt><%= @model.t :in_file %><%= @model.tt :in_file %></dt>
    <dd><%= f.file_field :in_file %></dd>

    <dt><%= @model.t :name %><%= @model.tt :name %></dt>
    <dd><%= f.text_field :name %></dd>

    <dt><%= @model.t :filename %><%= @model.tt :filename %></dt>
    <dd><%= f.text_field :filename %></dd>

    <dt><%= @model.t :geo_location %><%= @model.tt :geo_location %></dt>
    <dd>
      <%= number_field_tag "#{f.object_name}[geo_location][lat]", @item.geo_location.try(:lat), step: :any %>
      <%= number_field_tag "#{f.object_name}[geo_location][lng]", @item.geo_location.try(:lng), step: :any %>
    </dd>
  <% end %>
</dl>

<% if @item.persisted? && @item.image? %>
  <div class="ss-image-edit-canvas">
    <div class="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-zoom-in" data-func="zoomIn"><i class="material-icons">&#xE8FF;</i></button>
        <button type="button" class="btn btn-zoom-out" data-func="zoomOut"><i class="material-icons">&#xE900;</i></button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-rotate-left" data-func="rotateRight"><i class="material-icons">&#xE419;</i></button>
        <button type="button" class="btn btn-rotate-right" data-func="rotateLeft"><i class="material-icons">&#xE41A;</i></button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-submit-crop" data-func="submit"><i class="material-icons">&#xE876;</i></button>
        <button type="button" class="btn btn-cancel-crop" data-func="cancel"><i class="material-icons">&#xE5CD;</i></button>
      </div>

      <div class="btn-group">
        <div class="input-group">
          <%= select_tag('size', options_for_select(@model.resizing_options), include_blank: true) %>
        </div>
      </div>

      <div class="btn-group">
        <div class="input-group">
          <label for="ss-image-edit-canvas-inspection-x">X</label>
          <input name="x" id="ss-image-edit-canvas-inspection-x" type="text" readonly>
        </div>
        <div class="input-group">
          <label for="ss-image-edit-canvas-inspection-y">Y</label>
          <input name="y" id="ss-image-edit-canvas-inspection-y" type="text" readonly>
        </div>
        <div class="input-group">
          <label for="ss-image-edit-canvas-inspection-width">W</label>
          <input name="width" id="ss-image-edit-canvas-inspection-width" type="text" readonly>
        </div>
        <div class="input-group">
          <label for="ss-image-edit-canvas-inspection-height">H</label>
          <input name="height" id="ss-image-edit-canvas-inspection-height" type="text" readonly>
        </div>
      </div>
    </div>
    <img src="<%= @item.url %>" class="target" data-format="<%= @item.content_type %>">
    <%= f.hidden_field :in_data_url, value: nil %>
  </div>

  <%= jquery do %>
    var imageEditor = new SS_ImageEditor('.ss-image-edit-canvas');
  <% end %>
<% end %>

<%= jquery do %>
  var uploadFiles = function(files) {
    var formData = new FormData();
    formData.append("authenticity_token", $('meta[name=csrf-token]').attr("content"));
    for (var i = 0; i < files.length; i++) {
      formData.append("item[in_files][]", files[i]);
    }
    formData.append("item[resizing]", "");

    var request = new XMLHttpRequest();
    request.open("POST", "<%= sns_apis_temp_files_path(user: @cur_user, format: 'json') %>");
    request.send(formData);
  };

  var $dropzone = $('.dropzone');
    $dropzone.on('click', function() {
    $('input[name="item[in_files][]"]').click();
  });
  $dropzone.on('dragover', function(e) {
    $(this).addClass('active');

    e.stopPropagation();
    e.preventDefault();
    var _e = e.originalEvent;
    if (_e.dataTransfer && _e.dataTransfer.dropEffect) {
      _e.dataTransfer.dropEffect = 'copy';
    }
  });
  $dropzone.on('dragleave', function() {
    $(this).removeClass('active');
  });
  $dropzone.on('drop', function(e) {
    e.stopPropagation();
    e.preventDefault();
    uploadFiles(e.originalEvent.dataTransfer.files);
  });

  $('a.file').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();

    var $in_file = $('input[name="item[in_file]"]');

    var oldVal = $in_file.val();

    var $this = $(this);
    $in_file.val($this.data('id'));

    $('.selected-file-info').html($this.html());
    $this.hide();

    if (oldVal) {
      $('a.file[data-id=' + oldVal + ']').show();
    }
  });
<% end %>
