<%= jquery do %>
  SS_SearchUI.modal();
<% end %>

<div class="content-search card mb-3">
  <div class="card-body search-ui-form">
  <%= form_for :s, url: { action: :index }, html: { method: "GET", class: "search no-form-inline" } do |f| %>
    <div class="input-group">
      <%= f.text_field :name, value: params[:s].try(:[], :name) %>
      <div class="input-group-append">
        <%= f.submit  t("ss.apis.groups.search"), class: :btn %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<%= paginate @items if @items.try(:current_page) %>

<div class="table-responsive">
  <table class="table table-striped index">
    <thead>
      <tr>
        <th style="width: 25%;" class="name"><%= t("contact.group_name") %></th>
        <th class="contact-tel"><%= t("contact.tel") %></th>
        <th class="contact-fax"><%= t("contact.fax") %></th>
        <th class="contact-email"><%= t("contact.email") %></th>
        <th class="contact-link-url"><%= t("contact.link_url") %></th>
        <th class="contact-link-name"><%= t("contact.link_name") %></th>
      </tr>
    </thead>
    <tbody class="items">
      <% @items.each do |item| %>
        <tr class="list-item" data-id="<%= item.id %>" data-tel="<%= item.contact_tel %>" data-fax="<%= item.contact_fax %>" data-email="<%= item.contact_email %>" data-linkurl="<%= item.contact_link_url %>" data-linkname="<%= item.contact_link_name %>">
          <td class="name"><%= link_to item.name, "#", class: "select-single-item" %></td>
          <td class="contact-tel"><%= item.contact_tel if item.contact_tel.present? %></td>
          <td class="contact-fax"><%= item.contact_fax if item.contact_fax.present? %></td>
          <td class="contact-email"><%= item.contact_email if item.contact_email.present? %></td>
          <td class="contact-link-url"><%= item.contact_link_url if item.contact_link_url.present? %></td>
          <td class="contact-link-name"><%= item.contact_link_name if item.contact_link_name.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @items if @items.try(:current_page) %>
