<% addons = @addons || @item.try(:addons) || [] %>

<div class="cms-tabs">
  <%= link_to({ action: "show" }, { class: "show current" }) do %>
    <span class="tab-name"><%= t("ss.basic_info") %></span>
  <% end %>
  <%= link_to(sys_test_shot_run_path(shot_id: @item), { class: "run" }) do %>
    <span class="tab-name">Run</span>
  <% end %>
  <%= link_to(sys_test_shot_queues_path(shot_id: @item), { class: "queues" }) do %>
    <span class="tab-name">Queues</span>
  <% end %>
  <%= link_to(sys_test_shot_pages_path(shot_id: @item), { class: "pages" }) do %>
    <span class="tab-name">Results</span>
  <% end %>
</div>

<div class="addon-views">
  <%
    addon_options = {}
    addon_options[:id] = "addon-basic"
    addon_options[:head] = @addon_basic_name || t("ss.basic_info") if addons.size > 0
  %>
  <% buf = render file: "_show", locals: { addon: addon_options } %>
  <%= render "ss/crud/addon", addon: addon_options do %>
    <%= buf %>
  <% end %>

  <%= render file: "_addons_show", locals: { addons: addons } if addons.size > 0 %>
</div>
