<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.delete'), action: :delete, id: item  if @config.allowed?(:delete, @cur_user) %>
<% end %>

<% @index_title = proc do |item| %>
  <%= link_to({ action: :show, id: item }, class: "title") do %>
    <% if ::File.exists?(item.image_path) %>
      <%= image_tag(url_for({ action: :image, id: item, width: Sys::Test::Shot::Page::THUMBNAIL_SIZE }), style: "max-width: 240px") %>
    <% elsif item.redirect_to.present? %>
      Redirect to <%= item.redirect_to %>
    <% else %>
      <%= item.title || item.url %>
    <% end %>
  <% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="title"><%= item.title %></span>
  <span class="url"><%= item.url %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
<% end %>

<div class="cms-tabs">
  <%= link_to(sys_test_shot_path(id: @config), { class: "show" }) do %>
    <span class="tab-name"><%= t("ss.basic_info") %></span>
  <% end %>
  <%= link_to(sys_test_shot_queues_path, { class: "queues" }) do %>
    <span class="tab-name">Queues</span>
  <% end %>
  <%= link_to(sys_test_shot_pages_path, { class: "pages current" }) do %>
    <span class="tab-name">Results</span>
  <% end %>
</div>

<%= render file: "ss/crud/index" %>
