<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

<div class="swiper-container gallery-top" style="width: 100%">
  <div class="swiper-wrapper" style="width: 100%">
    <% @items.each do |item| %>
      <div id="image-<%= item.id %>" class="swiper-slide" data-id="<%= item.id %>">
        <img data-src="<%= url_for(action: :image, id: item) %>" class="swiper-lazy" style="width: 100%">
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
    <% end %>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-scrollbar"></div>
</div>
<div class="swiper-container gallery-thumbs">
  <div class="swiper-wrapper">
    <% @items.each do |item| %>
      <div id="thumb-<%= item.id %>" class="swiper-slide">
        <img src="<%= url_for(action: :image, id: item, width: 240) %>" loading="lazy" />
      </div>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  var images = {};
  <% @items.each do |item| %>
    images["<%= item.id %>"] = <%== { url: item.url, title: item.title, redirect_to: item.redirect_to }.to_json %>;
  <% end %>

  var galleryThumbs = new Swiper ('.gallery-thumbs', {
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesVisibility: true,
    watchSlidesProgress: true,
  });

  var galleryTop = new Swiper ('.gallery-top', {
    lazy: true,
    spaceBetween: 10,
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next"
    },
    thumbs: {
      swiper: galleryThumbs
    }
  });

  galleryTop.on("slideChange", function() {
    setTimeout(function() {
      var id = $('.gallery-top').find(".swiper-slide-active").data("id");
      console.log(id);

      var image = images[id];
      console.log(image);
    }, 0);
  });
<% end %>
