<%= f.fields_for :column_values do |g| %>
  <% column_values.order_by(order: 1, name: 1).each do |column_value| %>
    <% column = column_value.column %>
    <% next if column.blank? %>
    <%= render file: column.column_form_path, locals: { f: g, column: column, value: column_value, controller: true } %>
  <% end %>

  <% if true %>
    <div class="column-value-palette">
      <h3><%= t("ss.buttons.add") %></h3>
      <fieldset>
        <% form.columns.order_by(order: 1).each do |column| %>
          <button type="button" class="btn btn-outline-primary" data-form-id="<%= form.id %>" data-column-id="<%= column.id %>"><%= column.name %></button>
        <% end %>
      </fieldset>
      <div class="column-value-palette-error hide"></div>
    </div>
  <% end %>
<% end %>

<%= jquery do %>
  Cms_TemplateForm.bind(<%== "##{addon_id}".to_json %>, { type: 'entry' });
<% end %>
