<div class="entry-unit">
  <div class="entry-unit-header">
    <h3>
      <% if !disabled %>
      <i class="material-icons">open_with</i>
      <% end %>
      <%= column.name %>
    </h3>
    <% if !disabled %>
    <div class="entry-unit-controller">
      <%# here are reorder controller %>
      <%= select_tag("order", options_for_select([]), class: "entry-unit-controller-move-position no-form-control") %>
      <button type="button" class="entry-unit-controller-move-up"><i class="material-icons">keyboard_arrow_up</i></button>
      <button type="button" class="entry-unit-controller-move-down"><i class="material-icons">keyboard_arrow_down</i></button>
    </div>
    <div class="entry-unit-controller">
      <%# here are help and close controller %>
      <button type="button" class="entry-unit-controller-help"><i class="material-icons">help</i></button>
      <button type="button" class="entry-unit-controller-add"><i class="material-icons">add_circle_outline</i></button>
      <button type="button" class="entry-unit-controller-remove"><i class="material-icons">remove_circle_outline</i></button>
    </div>
    <% end %>
  </div>
  <div class="entry-unit-body">
    <% if !disabled %>
      <%= hidden_field_tag "#{f.object_name}[][_type]", column.value_type, id: nil %>
      <%= hidden_field_tag "#{f.object_name}[][column_id]", column.id, id: nil %>
    <% end %>
    <%= yield %>
  </div>
  <% if !disabled && column.tooltips.present?%>
  <div class="entry-unit-tooltip hide"><%= column.tooltips %></div>
  <% end %>
</div>
